version: '3'
services:
  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos
    environment:
    - PREFER_HOST_MODE=hostname
    - MODE=standalone
    ports:
     - "8848:8848"
    networks:
      - net-es
networks:
  net-es:
    external: false